<html>
<head>
<title>LOAN DETAILS</title>
</head>
<body style="background-color: rgb(163, 255, 247);">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;LOAN DETAILS 
    <form action="/Loan_Status" method ="POST">
        <img src="static\download.jpeg">
        <br>
        <br><br>
        <label>Current_Loan_Amount</label><input type="text" name ="Current_Loan_Amount"><br><br>
        <label>Term</label><input type="text" name ="Term"><br><br>
        <label>Credit_Score</label><input type="text" name ="Credit_Score"><br><br>
        <label>Years_in_current_job</label><input type="text" name ="Years_in_current_job"><br><br>
        <label>Home_Ownership</label><input type="text" name ="Home_Ownership"><br><br>
        <label>Annual_Income</label><input type="text" name ="Annual_Income"><br><br>
        <label>Purpose</label><input type="text" name ="Purpose"><br><br>
        <label>Monthly_Debt</label><input type="text" name ="Monthly_Debt"><br><br>
        <label>Years_of_Credit_History</label><input type="text" name ="Years_of_Credit_History"><br><br>
        <label>Months_since_last_delinquent</label><input type="text" name ="Months_since_last_delinquent"><br><br>
        <label>Number_of_Open_Accounts</label><input type="text" name ="Number_of_Open_Accounts"><br><br>
        <label>Number_of_Credit_Problems</label><input type="text" name ="Number_of_Credit_Problems"><br><br>
        <label>Current_Credit_Balance</label><input type="text" name ="Current_Credit_Balance"><br><br>
        <label>Maximum_Open_Credit</label><input type="text" name ="Maximum_Open_Credit"><br><br>
        <label>Bankruptcies</label><input type="text" name ="Bankruptcies"><br><br>
        <label>Tax_Liens</label><input type="text" name ="Tax_Liens"><br><br>
  

        <!-- for dropdown options
        <label for="cars">Choose a car:</label>

        <select name="cars" id="cars">
            <option value="volvo">Volvo</option>
            <option value="saab">Saab</option>
            <option value="mercedes">Mercedes</option>
            <option value="audi">Audi</option>
        </select> -->
        
        <input type="submit">
        <br><br>
        
    </form>
    
</body>
</html>
         